* {
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
}

#info {
    color: white;
    background-color: rgb(0, 153, 0);
    width: 25%;
    height: 100%;
    float: left;
}

#map {
    height: 100%;
    width: 75%;
}
